name: CI Pipeline

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm install

      - name: Generate Prisma Client
        run: npx prisma generate --schema=apps/backend/prisma/schema.prisma

      - name: Build Dependencies
        run: npm run build --workspace=@monorepo/shared

      - name: Type Check
        run: npm run build

